/*
 * Empty Stylesheet file.
 */


.jfx-list-cell {
    -fx-background-insets: 0.0;
    -fx-text-fill: BLACK;
}

.jfx-list-cell:odd,
.jfx-list-cell:even {
    -fx-background-color: WHITE;
}

.jfx-list-cell:filled:hover,
.jfx-list-cell:selected .label {
    -fx-text-fill: black;
}

.jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #5264AE;
}

.jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: rgba(0.0, 0.0, 255.0, 0.2);
}

.jfx-list-view {
    -fx-background-insets: 0.0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-vertical-gap: 10.0;
    -jfx-expanded: false;
}


.custom-jfx-list-view {
    -fx-background-insets: 0.0;
    -jfx-cell-horizontal-margin: 0.0;
    -jfx-cell-vertical-margin: 5.0;
    -jfx-expanded: true;
    -fx-max-width: 200.0px;
    -fx-background-color: TRANSPARENT;
}

.custom-jfx-list-view .jfx-rippler {
    -jfx-rippler-fill: RED;
}

.custom-jfx-list-view-icon,
.jfx-list-cell:selected .label .custom-jfx-list-view-icon {
    -fx-text-fill: #5264AE;
    -fx-fill: #5264AE;
    -fx-padding: 0.0 10.0 0.0 5.0;
    -fx-cursor: hand;
}
